In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine(f'postgresql://postgres:passw1@0.0.0.0:5432/postgres')

## Question 1. Knowing docker tags

A. `--iidfile` (2)

## Question 2. Understanding docker first run

A. `3` (3)
---------- -------
```
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
```

## Question 3. Count records

In [3]:
# table names are taxi_zone_lookup and green_tripdata

In [4]:
query = "select count(1) as number_of_trips_on_jan_15th from green_tripdata \
         where  lpep_pickup_datetime :: date = '2019-01-15':: date and \
         lpep_dropoff_datetime :: date = '2019-01-15':: date"

pd.read_sql(query, engine)

   number_of_trips_on_jan_15th
0                        20530

## Question 4. Largest trip for each day

In [5]:
query = "select lpep_pickup_datetime::date as max_trip_distance_day \
         from green_tripdata order by trip_distance desc limit 1"

pd.read_sql(query, engine)

  max_trip_distance_day
0            2019-01-15

## Question 5. The number of passengers

In [6]:
query = "select passenger_count, count(passenger_count) as n_trips from green_tripdata where lpep_pickup_datetime::date = '2019-01-01'::date\
         and passenger_count in (2,3)\
         group by passenger_count"
pd.read_sql(query, engine)

   passenger_count  n_trips
0                2     1282
1                3      254

## Question 6. Largest tip

In [7]:
query = '''select "Zone" as max_trip_dropoff_zone from taxi_zone_lookup where "LocationID" in
          (
          select "DOLocationID" from green_tripdata where "PULocationID" in
              ( select "LocationID" from taxi_zone_lookup where "Zone" = 'Astoria')
          order by tip_amount desc limit 1
          )'''
pd.read_sql(query, engine)

           max_trip_dropoff_zone
0  Long Island City/Queens Plaza